<div class="content-bar" >
    <div class="products-card">
        <div class="thumbnail">
            <p>A</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>B</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>C</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>D</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>E</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>F</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>G</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>H</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>I</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>J</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>K</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>L</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>M</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>N</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>O</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>P</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>Q</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>R</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>S</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>T</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>U</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>V</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>W</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>X</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>Y</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
    <div class="products-card">
        <div class="thumbnail">
            <p>Z</p>
        </div>
        <div class="products-price">
            <h1>Product Name</h1>
        </div>
        <div class="add-to-cart">
            <i class="fa fa-info"></i>
            <div class="products-detail">
                <div class="color">
                    Black
                </div>
                <div class="star">
                    4.6*
                </div>
                <div class="price">
                    Rs.4095
                </div>
                <div class="offers">
                    <a href="">Offers</a>
                </div>
            </div>
        </div>
    </div>
</div>