<!DOCTYPE html>
<html lang="es-MX"> <!--begin::Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title id="title"></title><!--begin::Primary Meta Tags-->
    <meta name="viewport" id="metaViewport" content="">
    <meta name="title" id="metaTitle" content="">
    <meta name="author" id="metaAuthor" content="">
    <meta name="description" id="metaDescription" content="">
    <meta name="keywords" id="metaKeywords" content=""><!--end::Primary Meta Tags--><!--begin::Fonts-->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css" integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q=" crossorigin="anonymous"><!--end::Fonts--><!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/styles/overlayscrollbars.min.css" integrity="sha256-dSokZseQNT08wYEWiz5iLI8QPlKxG+TswNRD8k35cpg=" crossorigin="anonymous"><!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css" integrity="sha256-Qsx5lrStHZyR9REqhUF8iQt73X06c8LGIUPzpOhwRrI=" crossorigin="anonymous"><!--end::Third Party Plugin(Bootstrap Icons)--><!--begin::Required Plugin(AdminLTE)-->
    <link rel="stylesheet" href="../../css/adminlte.css"><!--end::Required Plugin(AdminLTE)--><!-- apexcharts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.css" integrity="sha256-4MX+61mt9NVvvuPjUWdUdyfZfxSB1/Rf9WtqRHgG5S0=" crossorigin="anonymous"><!-- jsvectormap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/css/jsvectormap.min.css" integrity="sha256-+uGLJmmTKOqBr+2E6KDYs/NRsHxSkONXFHUL0fy2O/4=" crossorigin="anonymous">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik" async defer></script>
</head> <!--end::Head--> <!--begin::Body-->

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary"> <!--begin::App Wrapper-->
    <div class="app-wrapper"> <!--begin::Header-->
        <nav class="app-header navbar navbar-expand bg-body"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Start Navbar Links-->
                <ul class="navbar-nav">
                    <li class="nav-item"> <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"> <i class="bi bi-list"></i> </a> </li>
                </ul> <!--end::Start Navbar Links--> <!--begin::End Navbar Links-->
                <ul class="navbar-nav ms-auto"> <!--begin::Navbar Search-->
                   
                    <li class="nav-item dropdown user-menu"> <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <i class="bi bi-person"></i> <span class="d-none d-md-inline">Administrador</span> </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end"> <!--begin::User Image-->
                            <li class="user-header text-bg-primary"> <img src="../assets/img/logoMega.png" class="rounded-circle shadow" alt="User Image">
                                <p>
                                    Administrador - Web Developer
                                    
                                </p>
                            </li> <!--end::User Image--> <!--begin::Menu Body-->
                           
                            <li class="user-footer"> <a href="#" class="btn btn-default btn-flat">Settings</a> <a href="#" class="btn btn-default btn-flat float-end">Sign out</a> </li> <!--end::Menu Footer-->
                        </ul>
                    </li> <!--end::User Menu Dropdown-->
                </ul> <!--end::End Navbar Links-->
            </div> <!--end::Container-->
        </nav> <!--end::Header--> <!--begin::Sidebar-->

        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark"> <!--begin::Sidebar Brand-->
            <div class="sidebar-brand"> <!--begin::Brand Link--> <a href="../index" class="brand-link"> <!--begin::Brand Image--> <img src="../assets/img/logoMega.png" alt="Logo Mega" class="brand-image opacity-75 shadow"> <!--end::Brand Image--> <!--begin::Brand Text--> <span class="brand-text fw-light">CMS-MEGA</span> <!--end::Brand Text--> </a> <!--end::Brand Link--> </div> <!--end::Sidebar Brand--> <!--begin::Sidebar Wrapper-->
            <div class="sidebar-wrapper">
                <nav class="mt-2"> <!--begin::Sidebar Menu-->
                    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                        <li class="nav-item menu-open"> <a href="#" class="nav-link active"> <i class="nav-icon bi bi-speedometer"></i>
                                <p>
                                    Dashboard
                                   
                                </p>
                            </a>

                        </li>
                        <li class="nav-header">FUNCIONES DEL SITIO</li>
                        <li class="nav-item"> <a class="nav-link">  <i class="bi bi-journal-album"></i>
                            <p>
                                Sucursales
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item"> <a href="../ubicaciones/" class="nav-link"> <i class="nav-icon bi bi-map"></i>
                                    <p>Sucursales</p>
                                </a> </li>
                            <li class="nav-item"> <a href="../regiones/" class="nav-link"> <i class="nav-icon bi bi-map-fill"></i>
                                    <p>Regiones</p>
                                </a> </li>
                                <li class="nav-item"> <a href="../cis/" class="nav-link"> <i class="nav-icon bi bi-geo-alt-fill"></i>
                                    <p>CIS</p>
                                </a> </li>
                        </ul>
                        </li>
                        
                        <li class="nav-item"> <a class="nav-link">  <i class="bi bi-tv"></i>
                                <p>
                                    Canales
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item"> <a href="../tiposcanales/" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                        <p>Categorias</p>
                                    </a> </li>
                                <li class="nav-item"> <a href="../canales/" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                        <p>Canales</p>
                                    </a> </li>
                            </ul>
                        </li>

                        <li class="nav-item"> <a class="nav-link"> <i class="nav-icon bi bi-box-seam-fill"></i>
                                <p>
                                    Tarifario
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item"> <a href="../importar-tarifario" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                        <p>Importar Tarifario</p>
                                    </a> </li>
                                <li class="nav-item"> <a href="../tipo-paquete" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                        <p>Paquetes tarifarios</p>
                                    </a> </li>
                                <li class="nav-item"> <a href="../servicios-cable" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                        <p>Servicios Cable</p>
                                    </a> </li> 
                                <li class="nav-item"> <a href="../banner-servicios-cable" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                        <p>Banner servicios cable</p>
                                    </a> </li>  
                                <li class="nav-item"> <a href="../banner-tipo-paquete" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                        <p>Banner tipo paquete</p>
                                    </a> </li>          
                                    
                            </ul>
                        </li>
                        <li class="nav-item"> <a href="#" class="nav-link"> <i class="bi bi-gift"></i>
                                <p>
                                    Promociones
                                </p>
                            </a>
                        </li>
                        <li class="nav-item"> <a href="#" class="nav-link"> <i class="bi bi-file-text"></i>
                                <p>
                                    Terminos y condiciones
                                </p>
                            </a>
                        </li>
                        
                        <li class="nav-header">CONFIGURACIÓN</li>
                        <li class="nav-item"> <a href="#" class="nav-link"> <i class="bi bi-person-gear"></i>
                            <p>
                                Configurar Usuarios
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                    <p>Usuarios</p>
                                </a> </li>
                            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                    <p>Roles</p>
                                </a> </li>
                            <li class="nav-item"> <a href="#" class="nav-link"> <i class="nav-icon bi bi-circle"></i>
                                    <p>Permisos</p>
                                </a> </li>    
                                
                        </ul>
                    </li>

                    

                    </ul> <!--end::Sidebar Menu-->
                </nav>
            </div> <!--end::Sidebar Wrapper-->
        </aside> <!--end::Sidebar--> <!--begin::App Main-->
        <main class="app-main">
            <!--begin::App Content Header-->
            <div class="app-content-header">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">Detalle Trivia</h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="../index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Detalle Trivia
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--end::Row-->
                </div>
                <!--end::Container-->
            </div>
            <!--end::App Content Header-->
            <!--begin::App Content-->
            <div class="app-content">
                <!--begin::Container-->
                <div class="container-fluid">
                    <!--begin::Row-->
                    <section class="content">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Detalles Trivia</h3>
                                <div class="card-tools">
                                    <!-- Aquí se insertarán los botones dinámicamente -->
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-5 card-body-left">
                                        <!-- Aquí se insertarán los detalles dinámicamente -->
                                    </div>
                                    <div class="col-md-5 card-body-right">
                                        <div id="map" style="height: 300px; width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer"></div>
                            <!-- /.card-footer-->
                        </div>
                        <!-- /.card -->
                    </section>
                </div>
                <!--end::Container-->
            </div>
            <!--end::App Content-->
        </main>
        <!--end::App Main-->
        <!--begin::Footer-->
        <footer class="app-footer">
            <!--begin::To the end-->
            <div class="float-end d-none d-sm-inline">Anything you want</div>
            <!--end::To the end-->
            <!--begin::Copyright-->
            <strong>
                Comunicación Gráfica y Servicios Web Pruebas &copy; 2024&nbsp;
            </strong>
            All rights reserved.
            <!--end::Copyright-->
        </footer>
        <!--end::Footer-->
        </div>
        <!--end::App Wrapper-->
        <!--begin::Script-->
        <!--begin::Third Party Plugin(OverlayScrollbars)-->
        <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/browser/overlayscrollbars.browser.es6.min.js" integrity="sha256-H2VM7BKda+v2Z4+DRy69uknwxjyDRhszjXFhsL4gD3w=" crossorigin="anonymous"></script>
        <!--end::Third Party Plugin(OverlayScrollbars)-->
        <!--begin::Required Plugin(popperjs for Bootstrap 5)-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha256-whL0tQWoY1Ku1iskqPFvmZ+CHsvmRWx/PIoEvIeWh4I=" crossorigin="anonymous"></script>
        <!--end::Required Plugin(popperjs for Bootstrap 5)-->
        <!--begin::Required Plugin(Bootstrap 5)-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script>
        <!--end::Required Plugin(Bootstrap 5)-->
        <!--begin::Required Plugin(AdminLTE)-->
        <script src="../js/adminlte.js"></script>
        <!--end::Required Plugin(AdminLTE)-->
        <!--begin::OverlayScrollbars Configure-->
        <script>
            const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
            const Default = {
                scrollbarTheme: "os-theme-light",
                scrollbarAutoHide: "leave",
                scrollbarClickScroll: true,
            };
            document.addEventListener("DOMContentLoaded", function() {
                const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
                if (
                    sidebarWrapper &&
                    typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
                ) {
                    OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                        scrollbars: {
                            theme: Default.scrollbarTheme,
                            autoHide: Default.scrollbarAutoHide,
                            clickScroll: Default.scrollbarClickScroll,
                        },
                    });
                }
        
                const params = new URLSearchParams(window.location.search);
                const id = params.get('id');
                fetch(`/trivias/ver/data?id=${id}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.hidden == 1) {
                            var status = "Activo";
                            var statusButton = `<a onclick="borrarTrivia(${data.id_quiz})" class="btn btn-outline-danger" title="Desactivar"><i class="bi bi-clipboard-x">Desactivar</i></a>`;
                        } else {
                            var status = "Inactivo";
                            var statusButton = `<a onclick="activarTrivia(${data.id_quiz})" class="btn btn-outline-success" title="Activar"><i class="bi bi-clipboard-check">Activar</i></a>`;
                        }
        
                        const cardTitle = document.querySelector('.card-title');
                        cardTitle.textContent = data.title;
                        const cardTools = document.querySelector('.card-tools');
                        cardTools.innerHTML = `<a href="/trivias/editar?id=${data.id_quiz}" class="btn btn-outline-primary" title="Editar"><i class="bi bi-file-earmark-text">Editar</i></a>${statusButton}`;
        
                        const cardBodyLeft = document.querySelector('.card-body-left');
                        cardBodyLeft.innerHTML = `
                            <p class="card-text"><strong>Id:</strong> ${data.id_quiz}</p>
                            <p class="card-text"><strong>Título:</strong> ${data.title}</p>
                            <p class="card-text"><strong>Detalle:</strong> ${data.detail}</p>
                            <p class="card-text"><strong>URL:</strong> ${data.url}</p>
                            <p class="card-text"><strong>Imagen:</strong> ${data.imagen}</p>
                            <p class="card-text"><strong>Imagen M:</strong> ${data.imagen_m}</p>
                            <p class="card-text"><strong>Imagen 2:</strong> ${data.imagen2}</p>
                            <p class="card-text"><strong>Términos:</strong> ${data.terms}</p>
                            <p class="card-text"><strong>Color de Fondo:</strong> ${data.bg_color}</p>
                            <p class="card-text"><strong>Color de Fondo 2:</strong> ${data.bg_color2}</p>
                            <p class="card-text"><strong>Fecha de Inicio:</strong> ${data.date_start}</p>
                            <p class="card-text"><strong>Fecha de Fin:</strong> ${data.date_end}</p>
                            <p class="card-text"><strong>Oculto:</strong> ${status}</p>
                            <p class="card-text"><strong>Visa:</strong> ${data.visa}</p>
                            <p class="card-text"><strong>Array de Ciudad:</strong> ${data.ciudad_array}</p>
                            <p class="card-text"><strong>Email:</strong> ${data.bol_email}</p>
                        `;
        
                        // Inicializar el mapa
                        const latitud = parseFloat(data.latitud);
                        const longitud = parseFloat(data.longitud);
                        iniciarMap(latitud, longitud);
                    })
                    .catch(error => console.error('Error al obtener la trivia:', error));
            });
        
            function iniciarMap(latitud, longitud) {
                var coord = { lat: latitud, lng: longitud };
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 15,
                    center: coord
                });
                var marker = new google.maps.Marker({
                    position: coord,
                    map: map
                });
            }
        
            function borrarTrivia(id) {
                if (confirm('¿Estás seguro de que deseas borrar esta Trivia?')) {
                    fetch(`/trivias/borrar/${id}`, {
                        method: 'PUT'
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    })
                    .catch(error => console.error('Error al borrar la Trivia:', error));
                }
            }
        
            function activarTrivia(id) {
                if (confirm('¿Estás seguro de que deseas activar esta Trivia?')) {
                    fetch(`/trivias/restaurar/${id}`, {
                        method: 'PUT'
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data.message);
                        location.reload();
                    })
                    .catch(error => console.error('Error al activar la Trivia:', error));
                }
            }
        </script>
  
      
</body><!--end::Body-->

</html>