<!DOCTYPE html>
<html lang="es-MX"> <!--begin::Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title id="title"></title><!--begin::Primary Meta Tags-->
    <meta name="viewport" id="metaViewport" content="">
    <meta name="title" id="metaTitle" content="">
    <meta name="author" id="metaAuthor" content="">
    <meta name="description" id="metaDescription" content="">
    <meta name="keywords" id="metaKeywords" content=""><!--end::Primary Meta Tags--><!--begin::Fonts-->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css" integrity="sha256-tXJfXfp6Ewt1ilPzLDtQnJV4hclT9XuaZUKyUvmyr+Q=" crossorigin="anonymous"><!--end::Fonts--><!--begin::Third Party Plugin(OverlayScrollbars)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/styles/overlayscrollbars.min.css" integrity="sha256-dSokZseQNT08wYEWiz5iLI8QPlKxG+TswNRD8k35cpg=" crossorigin="anonymous"><!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css" integrity="sha256-Qsx5lrStHZyR9REqhUF8iQt73X06c8LGIUPzpOhwRrI=" crossorigin="anonymous"><!--end::Third Party Plugin(Bootstrap Icons)--><!--begin::Required Plugin(AdminLTE)-->
    <link rel="stylesheet" href="../../css/adminlte.css"><!--end::Required Plugin(AdminLTE)--><!-- apexcharts -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.css" integrity="sha256-4MX+61mt9NVvvuPjUWdUdyfZfxSB1/Rf9WtqRHgG5S0=" crossorigin="anonymous"><!-- jsvectormap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/css/jsvectormap.min.css" integrity="sha256-+uGLJmmTKOqBr+2E6KDYs/NRsHxSkONXFHUL0fy2O/4=" crossorigin="anonymous">

 <!-- DataTables CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
      
 <!-- jQuery -->
 <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

 <!-- DataTables JS -->
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

</head> <!--end::Head--> <!--begin::Body-->

<body class="layout-fixed sidebar-expand-lg bg-body-tertiary"> <!--begin::App Wrapper-->
    <div class="app-wrapper"> <!--begin::Header-->
        <nav class="app-header navbar navbar-expand bg-body"> <!--begin::Container-->
            <div class="container-fluid"> <!--begin::Start Navbar Links-->
                <ul class="navbar-nav">
                    <li class="nav-item"> <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button"> <i class="bi bi-list"></i> </a> </li>
                </ul> <!--end::Start Navbar Links--> <!--begin::End Navbar Links-->
                <ul class="navbar-nav ms-auto"> <!--begin::Navbar Search-->
                   
                    <li class="nav-item dropdown user-menu"> <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <i class="bi bi-person"></i> <span class="d-none d-md-inline">Administrador</span> </a>
                        <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end"> <!--begin::User Image-->
                            <li class="user-header text-bg-primary"> <img src="../assets/img/logoMega.png" class="rounded-circle shadow" alt="User Image">
                                <p>
                                    Administrador - Web Developer
                                    
                                </p>
                            </li> <!--end::User Image--> <!--begin::Menu Body-->
                           
                            <li class="user-footer"> <a href="#" class="btn btn-default btn-flat">Settings</a> <a href="#" class="btn btn-default btn-flat float-end">Sign out</a> </li> <!--end::Menu Footer-->
                        </ul>
                    </li> <!--end::User Menu Dropdown-->
                </ul> <!--end::End Navbar Links-->
            </div> <!--end::Container-->
        </nav> <!--end::Header--> <!--begin::Sidebar-->

        <!-- Contenedor para la sección importada -->
        <aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark" id="left-sidebar" > <!--begin::Sidebar Brand-->
               
            
        </aside>
        <main class="app-main"> <!--begin::App Content Header-->
            <div class="app-content-header"> <!--begin::Container-->
                <div class="container-fluid"> <!--begin::Row-->
                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="mb-0">CIS</h3>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-end">
                                <li class="breadcrumb-item"><a href="../index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    CIS
                                </li>
                            </ol>
                        </div>
                    </div> <!--end::Row-->
                </div> <!--end::Container-->
            </div> <!--end::App Content Header--> <!--begin::App Content-->
            <div class="app-content"> <!--begin::Container-->
                <div class="container-fluid"> <!--begin::Row-->
                    <section class="content">

                        <!-- Default box -->
                        <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">CIS</h3>
                
                            <div class="card-tools">
                                <a href="/cis/crear" class="btn btn-outline-success" title="Crear Nueva Región">
                                    <i class="bi bi-plus-circle"></i> Crear Nuevo Cis
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                           
                            <table id="cis" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>cis</th>
                                        <th>Sucursal</th>
                                        <th>Status</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="cis-body" class="table-body">
                                    <!-- Aquí se insertarán las filas dinámicamente -->
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Id</th>
                                        <th>cis</th>
                                        <th>Sucursal</th>
                                        <th>Status</th>
                                        <th>Acciones</th>
                                    </tr>
                                </tfoot>
                            </table>
    
    
                    
    
    
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            
                        </div>
                        <!-- /.card-footer-->
                        </div>
                        <!-- /.card -->
                
                    </section>
                </div> <!--end::Container-->
            </div> <!--end::App Content-->
        </main> <!--end::App Main--> <!--begin::Footer-->
        <footer class="app-footer"> <!--begin::To the end-->
            <div class="float-end d-none d-sm-inline">Anything you want</div> <!--end::To the end--> <!--begin::Copyright--> <strong>
                Comunicación Gráfica y Servicios Web Pruebas  &copy; 2024&nbsp; 
                
            </strong>
            All rights reserved.
            <!--end::Copyright-->
        </footer> <!--end::Footer-->      

    </div> <!--end::App Wrapper--> <!--begin::Script--> <!--begin::Third Party Plugin(OverlayScrollbars)-->        

     
    <script src="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/browser/overlayscrollbars.browser.es6.min.js" integrity="sha256-H2VM7BKda+v2Z4+DRy69uknwxjyDRhszjXFhsL4gD3w=" crossorigin="anonymous"></script> <!--end::Third Party Plugin(OverlayScrollbars)--><!--begin::Required Plugin(popperjs for Bootstrap 5)-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha256-whL0tQWoY1Ku1iskqPFvmZ+CHsvmRWx/PIoEvIeWh4I=" crossorigin="anonymous"></script> <!--end::Required Plugin(popperjs for Bootstrap 5)--><!--begin::Required Plugin(Bootstrap 5)-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script> <!--end::Required Plugin(Bootstrap 5)--><!--begin::Required Plugin(AdminLTE)-->
    <script>
        function onDOMContentLoaded() {
            // Primera función: Cargar la sección HTML del sidebar
            cargaLeftSidebar();
            cargaNavBar();
            // Segunda función: Otra lógica que deseas ejecutar al cargar la página
            console.log('cargar secciones');
        }

        document.addEventListener("DOMContentLoaded", onDOMContentLoaded);

        function cargaLeftSidebar() {
            fetch('/left-sidebar.html')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.text();
                })
                .then(data => {
                    document.getElementById('left-sidebar').innerHTML = data;
                    
                })
                .catch(error => console.error('Error loading left-sidebar:', error));
        }

        function cargaNavBar() {
            fetch('/navBar.html')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.text();
                })
                .then(data => {
                    document.getElementById('navBar').innerHTML = data;
                    
                })
                .catch(error => console.error('Error loading left-sidebar:', error));
        }
    </script>
    <script src="../js/adminlte.js"></script> <!--end::Required Plugin(AdminLTE)--><!--begin::OverlayScrollbars Configure-->
    <script>
        const SELECTOR_SIDEBAR_WRAPPER = ".sidebar-wrapper";
        const Default = {
            scrollbarTheme: "os-theme-light",
            scrollbarAutoHide: "leave",
            scrollbarClickScroll: true,
        };
        document.addEventListener("DOMContentLoaded", function() {
            const sidebarWrapper = document.querySelector(SELECTOR_SIDEBAR_WRAPPER);
            if (
                sidebarWrapper &&
                typeof OverlayScrollbarsGlobal?.OverlayScrollbars !== "undefined"
            ) {
                OverlayScrollbarsGlobal.OverlayScrollbars(sidebarWrapper, {
                    scrollbars: {
                        theme: Default.scrollbarTheme,
                        autoHide: Default.scrollbarAutoHide,
                        clickScroll: Default.scrollbarClickScroll,
                    },
                });
            }
        });
    </script> <!--end::OverlayScrollbars Configure--> <!-- OPTIONAL SCRIPTS --> <!-- sortablejs -->
     
     <script>
        $(document).ready(function() {
            // Cargar datos dinámicamente
            fetch('/cis/data')  // Cambia la ruta a la correcta para obtener los datos
                .then(response => response.json())
                .then(data => {
                    const tbody = document.getElementById('cis-body');
                    tbody.innerHTML = ''; // Limpiar el contenido existente
                    data.forEach(item => {
                        const row = document.createElement('tr');
    
                        if (item.status == 1) {
                            var status = "Activo";
                            var statusButton = `<a onclick="borrarCis(${item.idCis})" class="btn btn-outline-danger" title="Desactivar"><i class="bi bi-clipboard-x"></i></a>`;
                        } else {
                            var status = "Inactivo";
                            var statusButton = `<a onclick="activarCis(${item.idCis})" class="btn btn-outline-success" title="Activar"><i class="bi bi-clipboard-check"></i></a>`;
                        }
    
                        row.innerHTML = `
                            <td>${item.idCis}</td>
                            <td>${item.cisName}</td>
                            <td>${item.sucursalName}</td>
                            <td>${status}</td>
                            <td>
                                <a href="/cis/ver?id=${item.idCis}" class="btn btn-outline-dark" title="Ver"><i class="bi bi-eye"></i></a>        
                                <a href="/cis/editar?id=${item.idCis}" class="btn btn-outline-primary" title="Editar"><i class="bi bi-file-earmark-text"></i></a>
                                ${statusButton}
                            </td>
                        `;
                        tbody.appendChild(row);
                    });
                    // Inicializar DataTables después de cargar los datos
                    $('#cis').DataTable();
                })
                .catch(error => {
                    console.error('Error al cargar los datos:', error);
                });
        });
    
        function borrarCis(id) {
            if (confirm('¿Estás seguro de que deseas borrar esta Cis?')) {
                fetch(`/cis/borrar/${id}`, {
                    method: 'PUT'
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => console.error('Error al borrar la Cis:', error));
            }
        }
    
        function activarCis(id) {
            if (confirm('¿Estás seguro de que deseas activar esta Cis?')) {
                fetch(`/cis/restaurar/${id}`, {
                    method: 'PUT'
                })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    location.reload();
                })
                .catch(error => console.error('Error al activar la Cis:', error));
            }
        }
    </script>
  
</body><!--end::Body-->

</html>




