<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validación de Usuario</title>
    <script src="js/apiLogInStatus.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            // Aquí puedes cambiar true o false para simular el estado de login
            const simulateLoggedIn = false; // Cambia a true para simular un usuario logueado

            simulateLoginStatus(simulateLoggedIn).then(response => {
                if (response.loggedIn) {
                    // Redirigir al dashboard
                    window.location.href = "./dashboard.html";
                    console.log("Usuario logueado");
                } else {
                    // Redirigir al formulario de login
                    window.location.href = "./login.html";
                    console.log("Usuario No logueado");
                }
            }).catch(error => {
                console.error("Error al verificar el estado de login:", error);
            });
        });
    </script>
</head>
<body>
    <p>
        Verificando logueo
    </p>
</body>
</html>