<!DOCTYPE html>
<html lang="es-MX">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CPanelMega - Sign-In</title>
	<link rel="stylesheet" href="css/sign-in.css">	
	<link rel="stylesheet" href="css/forms.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://use.fontawesome.com/5bb0aa3c76.js"></script>
	<script src="js/main.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
		<div id="login-form" class="forms-container active">
			<div id="login-form heading" class="forms-heading">
				<h1>Cpanel MEGA -LogIn</h1>
			</div>
			<div class="form-body">
				
				<div class="sign-up-input">
					<h2>Email</h2>
						<input type="text">
					<h2>Password</h2>
						<input type="password">
				</div>
				<div id="login-input">
					<div>
						<a href="./index.html">Iniciar sesion</a>
						<!--<span>Recuperar contraseña</span>-->
					</div>
										
				</div>
			</div>
		</div>

</body>
</html>