<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Mejorado</title>
    <!-- Google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/mega/assets/css/style.css">

</head>

<body>
    <div class="top-bar">
        <div class="location">
            <p><span>📍 ABASOLO</span></p>
        </div>
        <div class="sales-info">
            <p>VENTAS: 33 9690 1234</p>
        </div>
        <div class="account-actions">
            <button class="account-btn">Mi cuenta</button>
            <button class="pay-btn">Pago en línea</button>
        </div>
    </div>

    <!-- popup -->
    <div class="popup" id="location-popup">
        <div class="popup-content">
            <span class="close-popup">X</span>
            <h3>Si deseas cambiar tu ubicación, selecciona una opción de esta lista</h3>
            <select id="location-select">
                
            </select>
            <button id="confirm-location">Cambiar</button>
        </div>
    </div>


    <!-- menu-->
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="/assets/mega/assets/img/mega-logo.png" alt="Logo">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="canales.html">Canales</a></li>
                <li><a href="cis.html">CIS</a></li>
                <li><span><a href="#">Xview+</a></span></li>
                <li><a href="#">Streaming</a></li>
                <li><a href="#">Premier</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <!-- banner -->
    <div id="bannerCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" id="bannerCarousel-inner">
            <div class="carousel-item active">
                <img src="/uploads/bannerHero/244__imagen_1727122798.jpg" class="d-block w-100" alt="Banner 1">
            </div>
           

        </div>
        <!-- flechas-->
        <button class="carousel-control-prev" type="button" data-bs-target="#bannerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bannerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <!-- menu movil -->
    <div class="mobile-menu">
        <span class="close-btn">X</span>
        <ul>
            <li><a href="canales.html">Canales</a></li>
            <li><a href="cis.html">CIS</a></li>
            <li><a href="#">Xview+</a></li>
            <li><a href="#">Streaming</a></li>
            <li><a href="#">Premier</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Pago en línea</a></li>
        </ul>
    </div>

    <!-- ********** Paquetes ********** -->
    <section class="container" id="paquetes">
        <div class="slider-container">
            <div class="owl-carousel owl-theme" id="carousel-packages">
                <!-- Card-->
                <div class="item card_pack">
                    <div class="promo_megas">
                        <h4>Internet Ilimitado</h4>
                        <h4>350 MBPS</h4>
                    </div>
                    <div class="xview-container">
                        <img src="assets/img/xview-logo.png" alt="">
                    </div>
                    <div class="beneficios-pack">
                        <ul>
                            <li>Más de 120 canales</li>
                            <li>Más de 40 en HD</li>
                            <li>Mas de 20.000 horas en películas y series</li>
                            <li>Telefonía fija</li>
                        </ul>
                    </div>
                    <div class="promo_partners">
                        <img src="assets/img/promo-partner.png" alt="">
                    </div>
                    <div class="package_price">
                        <p class="price-pack">$930</p>
                        <p class="payment-time"> / AL MES</p>
                    </div>

                    <!-- Botón para abrir el popup -->
                    <div class="btn-card">
                        <button id="card-call" class="btn btn-dark openCallPopup">¡Llámame!</button>
                    </div>
                </div>
                <!-- / Card-->
            </div>
        </div>
    </section>

    <!-- Popup BTN CARD -->
    <div id="callMePopup" class="popup-call">
        <div class="popup-content-call">
            <span class="close-popup-call">&times;</span>
            <h3>¡Quiero contratar!</h3>
            <form id="callMeForm">
                <input type="tel" id="phone" name="phone" placeholder="Ingresa tu número" required>
                <button type="submit" class="btn btn-primary">¡Llámame!</button>
            </form>
        </div>
    </div>

    <!-- ********** Streamings ********** -->
    <section class="container text-center mt-5">
        <div class="str-texts">
            <h2>¡Ahora más <span>diversión</span></h2>
            <p>Agrega tus servicios streaming favoritos y disfruta todo su contenido.</p>
        </div>

        <div id="streamings-container" class="d-flex justify-content-center flex-wrap">
           
        </div>
    </section>

    <!-- ********** Servicios ********** -->
    <div class="container">
        <div id="services-container" class="d-flex align-items-end text-center">
            <div class="services-content">
                <img src="assets/img/service-internet.png" alt="">
                <h3>Internet</h3>
                <a class="btn btn-dark btn-services" href="">Saber más</a>
            </div>

            <div class="services-content">
                <img src="assets/img/service-streaming.png" alt="">
                <h3>Servicios de Streaming</h3>
                <a class="btn btn-dark btn-services" href="">Saber más</a>
            </div>

            <div class="services-content">
                <img src="assets/img/service-megamovil.png" alt="">
                <h3>Mega Móvil</h3>
                <a class="btn btn-dark btn-services" href="">Saber más</a>
            </div>
        </div>
    </div>

    <!-- ********** XVIEW+ ********** -->
    <section id="xview-container" class="container-fluid d-flex justify-content-end align-items-center">
        <div class="xview-info">
            <h4>Tus canales favoritos con funcionalidades interactivas y tus apps streaming precargadas en tu tv.
                <br>Todo el entretenimiento en un solo lugar.
            </h4>
            <div class="btn-xview-cont d-flex justify-content-between align-items-center">
                <a class="btn btn-light btn-xview" href="">Saber más</a>
                <img src="assets/img/xview-logo-wt.png" alt="">
            </div>
        </div>
        <div class="xview-img">
            <img src="assets/img/xview-pantalla.webp" alt="">
        </div>
    </section>

    <!-- ********** Pago en Línea ********** -->
    <section class="container">
        <div id="online-payment" class="row align-items-center justify-content-between">
            <div class="col-4 pago-texts">
                <h2>Pago en línea</h2>
                <p>Paga en Línea tus servicios de MEGA fácil y rápido con tu tarjeta de crédito o débito.</p>
                <a class="btn btn-pago" href="">Saber más</a>
            </div>
            <div class="col-7 text-center">
                <img src="assets/img/pago-en-linea-img.png" alt="">
            </div>
        </div>
    </section>

    <!-- ********** Banners Promo ********** -->
    <div id="promo-banners" class="carousel slide" data-bs-ride="carousel">
        <!-- Indicadores dinámicos -->
        <div class="carousel-indicators"></div>

        <!-- Imágenes del slider -->
        <div class="carousel-inner" id="promo-banners-footer">
            <div class="carousel-item ">
                <img src="/uploads/bannerHomeFooter/113__imagen_1727885398.png" class="d-block w-100 img-fluid" alt="Promo 2">
            </div>
            <div class="carousel-item ">
                <img src="/uploads/bannerHomeFooter/143__imagen_1693588254.png" class="d-block w-100 img-fluid" alt="Promo 1">
            </div>
        </div>
    </div>

    <!-- ********** PARTICIPA Y GANA ********** -->
    <section id="quiz-banner" class="container text-center">
        <img src="assets/img/participa-y-gana.png" alt="">
    </section>

    <!-- ********** Footer menu ********** -->
    <footer class="pt-5">
        <!-- Footer WHITE -->
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5>Internet y TV</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Canales</a></li>
                        <li><a href="#">Canales premium</a></li>
                        <li><a href="#">Internet</a></li>
                        <li><a href="#">Wifi PRO</a></li>
                        <li><a href="#">Fibra óptica</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Quiero</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Combos</a></li>
                        <li><a href="#">Participá y ganá</a></li>
                        <li><a href="#">Pago en línea</a></li>
                        <li><a href="#">Mega móvil</a></li>
                        <li><a href="#">Xview+</a></li>
                        <li><a href="#">Telefonía ilimitada</a></li>
                        <li><a href="#">Metrocarrier</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Acerca de MEGA</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Relación con inversionistas</a></li>
                        <li><a href="#">Responsabilidad social</a></li>
                        <li><a href="#">Bolsa de trabajo</a></li>
                        <li><a href="#">Denuncias</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5>Asistencia</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Soporte técnico</a></li>
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Chat</a></li>
                        <li><a href="#">Legales</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Contacto</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">33 9690 0000</a></li>
                        <li><a href="mailto:atencionclientes@megacable.com.mx">atencionclientes@megacable.com.mx</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Footer black-->
        <div class="text-white mt-5 footer-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between flex-wrap footer-links">
                        <div class="footer-link">
                            <h6>Códigos de prácticas comerciales</h6>
                        </div>
                        <div class="footer-link">
                            <h6>Contrato servicios móviles</h6>
                        </div>
                        <div class="footer-link">
                            <h6>Legales</h6>
                        </div>
                        <div class="footer-link">
                            <h6>Audio contrato de servicios</h6>
                        </div>
                        <div class="footer-link">
                            <h6>Megacable triple play</h6>
                        </div>
                        <div class="footer-link">
                            <h6>Cobertura megacable</h6>
                        </div>
                        <div class="footer-link">
                            <h6>IFT - Instituto Federal de Telecomunicaciones</h6>
                        </div>
                    </div>

                    <div class="col-md-12 d-flex justify-content-between align-items-center footer-logos">
                        <img src="assets/img/logo_mega_horizontal.png" alt="Logo Mega" class="img-fluid">
                        <img src="assets/img/ESR-logo.png" alt="ESR Logo" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </footer>




    <!-- ********** Scripts ********** -->

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Fetch para obtener las sucursales
            fetch('/mega/data')
                .then(response => response.json())
                .then(data => {
                    const slcOptions = document.getElementById('location-select');
                    slcOptions.innerHTML = ''; // Limpiar el contenido existente
                    data.forEach(item => {
                        const option = document.createElement('option');
                        option.value = item.idSucursal;
                        option.textContent = item.sucursalName;
                        slcOptions.appendChild(option);
                    });

                    // Cargar las tarjetas para la primera sucursal en la lista
                    if (data.length > 0) {
                        cardTarifario(data[0].idSucursal);
                    }
                })
                .catch(error => console.error('Error al cargar los datos de las sucursales:', error));

            // Fetch para obtener banners de Hero
            fetch('/api/bannerHero/')
                .then(response => response.json())
                .then(data => {
                    const divBannerHero = document.getElementById('bannerCarousel-inner');
                    divBannerHero.innerHTML = ''; // Limpiar el contenido existente
                    data.forEach((item, index) => {
                        divBannerHero.innerHTML += `
                            <div class="carousel-item ${index === 0 ? 'active' : ''}">
                                <img src="${item.ruta}${item.archivo}" class="d-block w-100" alt="${item.archivo}">
                            </div>
                        `;
                    });

                    // Inicializar el carrusel de Bootstrap
                    $('#bannerCarousel').carousel();
                })
                .catch(error => console.error('Error al cargar los datos de los banners:', error));

                // Fetch para obtener banners de streaming
                fetch('/api/bannerStreaming/')
                    .then(response => response.json())
                    .then(data => {
                        const divStreaming = document.getElementById('streamings-container');
                        divStreaming.innerHTML = ''; // Limpiar el contenido existente
                        data.forEach((item, index) => {
                            divStreaming.innerHTML += `
                                <div class="streaming-content">
                                    <a href="/mega/${item.linkHome}">
                                        <img class="streaming-img" src="${item.ruta}${item.archivo}" alt="${item.archivo}">
                                        
                                    </a>
                                </div>
                            `;
                        });

                    })
                    .catch(error => console.error('Error al cargar los datos de los banners:', error));


                // Fetch para obtener banners de streaming
                fetch('/api/bannerServices/')
                    .then(response => response.json())
                    .then(data => {
                        const divServices = document.getElementById('services-container');
                        divServices.innerHTML = ''; // Limpiar el contenido existente
                        data.forEach((item, index) => {
                            divServices.innerHTML += `
                                <div class="services-content">
                                    <img src="${item.ruta}${item.archivo}" alt="${item.archivo}">
                                    <h3>${item.nameServicio}</h3>
                                    <a class="btn btn-dark btn-services" href="${item.linkHome}">Saber más</a>
                                </div>
                            `;
                        });

                    })
                    .catch(error => console.error('Error al cargar los datos de los banners:', error));

                 // Fetch para obtener banners de Footer
                fetch('/api/bannerFooter/')
                    .then(response => response.json())
                    .then(data => {
                        const divBannerFooter = document.getElementById('promo-banners-footer');
                        divBannerFooter.innerHTML = ''; // Limpiar el contenido existente
                        data.forEach((item, index) => {
                            divBannerFooter.innerHTML += `
                                <div class="carousel-item ${index === 0 ? 'active' : ''}">
                                    <img src="${item.ruta}${item.archivo}" class="d-block w-100" alt="${item.archivo}">
                                </div>
                            `;
                        });

                        // Inicializar el carrusel de Bootstrap
                        $('#promo-banners-footer').carousel();
                    })
                    .catch(error => console.error('Error al cargar los datos de los banners:', error));


            // Función para cargar las tarjetas del tarifario
            function cardTarifario(idSucursal) {
                console.log(`Cargando tarifario para la sucursal: ${idSucursal}`);
                // Fetch para obtener los datos de la API
                fetch(`/api/tarifario/${idSucursal}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log('Datos del tarifario:', data);
                        const container = document.getElementById('carousel-packages'); // Contenedor donde se agregarán las tarjetas
                        container.innerHTML = ''; // Limpiar el contenido existente

                        data.forEach(item => {
                            // Crear la estructura de la tarjeta
                            const card = document.createElement('div');
                            card.className = 'item card_pack';

                            let sc = '';
                            if (item.nameServicioCable !== '0') {
                                sc = `
                                    <div class="xview-container">
                                        <img src="${item.ruta}${item.archivo}" alt="${item.archivo}">
                                    </div>
                                    <div class="beneficios-pack">
                                        <ul>
                                            <li>${item.textoServicioCable}</li>
                                            <li>Más de 40 en HD </li>
                                            <li>Más de 20.000 horas en películas y series</li>
                                            <li>Telefonía fija</li>
                                        </ul>
                                    </div>
                                `;
                            }

                            card.innerHTML = `
                                <div class="promo_megas">
                                    <h3>Internet Ilimitado ${item.velocidadInternet} Megas</h3>
                                    <h4>${item.velocidadPromo} MBPS</h4>
                                    <h3>x${item.tiempoVelocidaPromo} meses*</h3>
                                </div>
                                ${sc}
                                <div class="promo_partners">
                                    <img src="/assets/mega/assets/img/promo-partner.png" alt="">
                                </div>
                                <div class="package_price">
                                    <p class="price-pack">${item.tarifaPromocional}</p>
                                    <p class="payment-time"> / AL MES</p>
                                </div>
                                <!-- Botón para abrir el popup -->
                                <div class="btn-card">
                                    <button id="card-call" class="btn btn-dark openCallPopup">¡Llámame!</button>
                                </div>
                            `;

                            // Agregar la tarjeta al contenedor
                            container.appendChild(card);
                        });

                       
                    })
                    .catch(error => console.error('Error al cargar los datos del tarifario:', error));
            }

            // Evento para cambiar la sucursal y cargar las tarjetas correspondientes
            document.getElementById('location-select').addEventListener('change', function() {
                const idSucursal = this.value;
                cardTarifario(idSucursal);
            });
        });
    </script>
    <script>
        /* ********* Menu responsive ********** */
        const hamburgerMenu = document.querySelector('.hamburger-menu');
        const mobileMenu = document.querySelector('.mobile-menu');
        const closeBtn = document.querySelector('.close-btn');

        hamburgerMenu.addEventListener('click', () => {
            mobileMenu.classList.add('show');
        });

        closeBtn.addEventListener('click', () => {
            mobileMenu.classList.remove('show');
        });

        /* ********** Popup ********** */
        const locationButton = document.querySelector('.location span');
        const locationPopup = document.getElementById('location-popup');
        const closePopup = document.querySelector('.close-popup');
        const confirmLocationBtn = document.getElementById('confirm-location');
        const locationSelect = document.getElementById('location-select');

        // abrir popup al hacer clic en el lugar
        locationButton.addEventListener('click', () => {
            locationPopup.style.display = 'flex';
        });

        // cerar popup con x
        closePopup.addEventListener('click', () => {
            locationPopup.style.display = 'none';
        });

        // confirmar la ubicación seleccionada
        confirmLocationBtn.addEventListener('click', () => {
            const selectedLocationText = locationSelect.options[locationSelect.selectedIndex].text;//modificado para que devielva el texto del select y no el value
            locationButton.textContent = `📍 ${selectedLocationText}`;
            locationPopup.style.display = 'none'; // Cerrar el popup
        });

        /* ********** CARROUSEL PAQUETES ********** */
        /* Carrousel  peliculas*/
        $(document).ready(function(){
            $("#carousel-packages").owlCarousel({
                loop: true,
                margin: 30,
                nav: true,
                dots: false,
                autoplay: true,
                autoplayTimeout: 6000,
                autoplayHoverPause: true,
                responsive:{
                    0:{
                        items: 2
                    },
                    576:{
                        items: 2
                    },
                    768:{
                        items: 3
                    },
                    1200:{
                        items: 4
                    }
                }
            });
        });
        
    </script>
    <script src="/assets/mega/assets/main.js"></script>
</body>

</html>