<!DOCTYPE html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Mejorado</title>
    <link rel="stylesheet" href="../../css/mega.css"><!--end::Required Plugin(AdminLTE)--><!-- apexcharts -->
</head>
<body>
    <div class="top-bar">
        <div class="location">
            <p><span>📍 ABASOLO</span></p>
        </div>
        <div class="sales-info">
            <p>VENTAS: 33 9690 1234</p>
        </div>
        <div class="account-actions">
            <button class="account-btn">Mi cuenta</button>
            <button class="pay-btn">Pago en línea</button>
        </div>
    </div>

    <!-- popup -->
<div class="popup" id="location-popup">
    <div class="popup-content">
        <span class="close-popup">X</span>
        <h3>Selecciona tu ubicación de esta lista</h3>
        <select id="location-select" name="location-select">
            <option value="Abasolo">Abasolo</option>
            <option value="Guadalajara">Guadalajara</option>
            <option value="Zapopan">Zapopan</option>
            <option value="Tlaquepaque">Tlaquepaque</option>
        </select>
        <button id="confirm-location">Cambiar</button>
    </div>
</div>


    <!-- menu-->
    <header>
        <div class="logo">
            <img src="../../assets/img/mega/mega-logo.png" alt="Logo">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="#">Paquetes</a></li>
                <li><a href="#">Servicios</a></li>
                <li><span><a href="#">Xview+</a></span></li>
                <li><a href="#">Streaming</a></li>
                <li><a href="#">Premier</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <!-- banner -->
    <section class="banner">
        <img src="../../assets/img/mega/baner-01.jpg" alt="Imagen de banner">
    </section>

    <!-- menu movil -->
    <div class="mobile-menu">
        <span class="close-btn">X</span>
        <ul>
            <li><a href="#">Paquetes</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Xview+</a></li>
            <li><a href="#">Streaming</a></li>
            <li><a href="#">Premier</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Pago en línea</a></li>
        </ul>
    </div>

    <script src="../../js/mega-main.js"></script>
    <script>
        // Fetch para obtener las sucursales
        fetch('/mega/data')
            .then(response => response.json())
            .then(data => {
                const slcOptions = document.getElementById('location-select');
                slcOptions.innerHTML = ''; // Limpiar el contenido existente
                data.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.idSucursal;
                    option.textContent = item.sucursalName;
                    slcOptions.appendChild(option);
                });
            })
            .catch(error => console.error('Error al cargar los datos de las sucursales:', error));
    </script>
</body>
</html>
