<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseño Mejorado</title>
    <!-- Google-font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/mega/assets/css/style.css">

</head>

<body>
    <div class="top-bar">
        <div class="location">
            <p><span>📍 ABASOLO</span></p>
        </div>
        <div class="sales-info">
            <p>VENTAS: 33 9690 1234</p>
        </div>
        <div class="account-actions">
            <button class="account-btn">Mi cuenta</button>
            <button class="pay-btn">Pago en línea</button>
        </div>
    </div>

    <!-- popup -->
    <div class="popup" id="location-popup">
        <div class="popup-content">
            <span class="close-popup">X</span>
            <h3>Si deseas cambiar tu ubicación, selecciona una opción de esta lista</h3>
            <select id="location-select">
                
            </select>
            <button id="confirm-location">Cambiar</button>
        </div>
    </div>


    <!-- menu-->
    <header>
        <div class="logo">
            <a href="index.html">
                <img src="/assets/mega/assets/img/mega-logo.png" alt="Logo">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="canales.html">Canales</a></li>
                <li><a href="cis.html">CIS</a></li>
                <li><span><a href="#">Xview+</a></span></li>
                <li><a href="#">Streaming</a></li>
                <li><a href="#">Premier</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>



    <!-- menu movil -->
    <div class="mobile-menu">
        <span class="close-btn">X</span>
        <ul>
            <li><a href="canales.html">Canales</a></li>
            <li><a href="cis.html">CIS</a></li>
            <li><a href="#">Xview+</a></li>
            <li><a href="#">Streaming</a></li>
            <li><a href="#">Premier</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Pago en línea</a></li>
        </ul>
    </div>

    <!-- pruebas -->
     <!-- ********** Paquetes ********** -->
    <section class="container" id="paquetes">
        <div class="row d-flex justify-content-center mb-3 mt-4">
            <div class="col-md-4 col-8 mt-md-5">
                <a id="btn_paquetestriples" href="#" class="pack-btns active"><strong>Triple</strong> Pack</a>
            </div>
            <div class="col-md-4 col-8 mt-md-5">
                <a id="btn_paquetesdobles" href="#" class="pack-btns"><strong>Doble</strong> Pack</a>
            </div>
        </div>
        (Cliente nuevo)
    
    
        <div class="owl-item active" style="width: 255px; margin-right: 20px;">
            <div class="item mb-5 fondocol-3" data-position="1">
                
                    <!-- paquete home- pruebas-->
                    <div class="paquete paquetehome">
                        <div class="paquete-top ">
                            <div class="w-100 d-block">
                                <div class="velocidad velocidad-simetrico" >INTERNET SIMÉTRICO</div>
                                    <!--<h4 class="title-ilimitado">Internet Ilimitado 100 Megas</h4>-->
                                    <h4 class="velocidad velocidad-ilimitado" style="padding: 0.2em 0 0;">100 Megas de Velocidad</h4>
                                    <div class="velocidad velocidad-promo">200 Megas</div>
                                    <div class="velocidad velocidad-promo-tiempo">x 6 meses*</div>
                                </div>
                            </div>
                            <div class="paquete-bottom text-center">
                                <div class="w-100 d-block">
                                    
                                </div>
                                <hr class="hr-blue">
                                <div class="x-view-bloque">
                                    <div class="top pb-0"><img src="/assets/img/xview-logo.png" alt="Xview+" class="mx-auto d-block w-100"></div>
                                </div>
                                <div class="container2 pt-0">
                                <!--<div class="tv">+TV HD Interactiva</div>-->
                                    <ul class="listado">
                                        <li style="display:none">BÁSICO PLUS XVIEW+</li>
                                        <li>Más de 130 Canales</li>
                                        <li class="">+ De 25,000 horas <br>de películas y series</li>
                                        <li class="maschica" style="display: none !important"> Canales de audio</li>
                                    </ul>
                                </div>
                                <div class="container2 pt-3">
                                    + Telefonía Fija
                                </div>                                   
                                <div class="w-100 d-block text-center h-mlb mt-4 mb-2">
                                    <img src="images/iconos2/cintillo_paquetesweb_netflix1.png" alt="amazon" style="width: 250px; max-width: 100%; margin: 0 auto 5px;">
                                    <div class="velocidad" style="font-size:11px"><!--X 6 MESES CORTESIA DE MEGA--></div>
                                </div>
                                <div class="precio d-flex justify-content-center">
                                    <span class="signo-pesos">$</span>
                                    610 <span class="asteris"></span><span class="asteris2" style="font-size: 25px;display: inline-block;margin-top: 10px;">*</span>                                    <div class="pt-3">
                                    <div class="w-100 d-block position-relative text-precio"> al mes</div>
                                </div>
                            </div>                             
                            <div id="d-tar-regular" class="container1 text-center mb-3">
                                <h2>X 6 MESES*</h2>
                            </div>
                            <a href="#" data="Triple pack, Internet 100 MB, TelevicionBÁSICO PLUS XVIEW+" class="btn1 contrataBtn d-block mx-auto">Contrata Ahora</a>
                            <!--<span style="margin-bottom: 12px;display: block;text-transform: none;">*Domiciliando pago a tarjeta</span>-->                       
                            <p class="mb-3" style="margin-top: -15px">&nbsp;</p>
                        </div>
                    </div>
                    <!-- paquete home- pruebas-->
                     <!-- paquete home- pruebas-->
                    <div class="paquete paquetehome">
                        <div class="paquete-top ">
                            <div class="w-100 d-block">
                                <div class="velocidad" style="color: #000; padding: 1.2em 0 0;font-size: 26px;">INTERNET SIMÉTRICO</div>
                                    <!--<h4 class="title-ilimitado">Internet Ilimitado 100 Megas</h4>-->
                                    <h4 class="title-ilimitado" style="padding: 0.2em 0 0;">100 Megas de Velocidad</h4>
                                    <div class="velocidad">200 Megas</div>
                                    <div class="velocidad2">x 6 meses*</div>
                                </div>
                            </div>
                            <div class="paquete-bottom text-center">
                                <div class="w-100 d-block">
                                    
                                </div>
                                <hr class="hr-blue">
                                <div class="x-view-bloque">
                                    <div class="top pb-0"><img src="images/iconos2/lg_paquetesWeb_xviewp.svg" alt="Xview+" class="mx-auto d-block w-100"></div>
                                </div>
                                <div class="container2 pt-0">
                                <!--<div class="tv">+TV HD Interactiva</div>-->
                                    <ul class="listado">
                                        <li style="display:none">BÁSICO PLUS XVIEW+</li>
                                        <li>Más de 130 Canales</li>
                                        <li class="">+ De 25,000 horas <br>de películas y series</li>
                                        <li class="maschica" style="display: none !important"> Canales de audio</li>
                                    </ul>
                                </div>
                                <div class="container2 pt-3">
                                    + Telefonía Fija
                                </div>                                   
                                <div class="w-100 d-block text-center h-mlb mt-4 mb-2">
                                    <img src="images/iconos2/cintillo_paquetesweb_netflix1.png" alt="amazon" style="width: 250px; max-width: 100%; margin: 0 auto 5px;">
                                    <div class="velocidad" style="font-size:11px"><!--X 6 MESES CORTESIA DE MEGA--></div>
                                </div>
                                <div class="precio d-flex justify-content-center">
                                    <span class="signo-pesos">$</span>
                                    610 <span class="asteris"></span><span class="asteris2" style="font-size: 25px;display: inline-block;margin-top: 10px;">*</span>                                    <div class="pt-3">
                                    <div class="w-100 d-block position-relative text-precio"> al mes</div>
                                </div>
                            </div>                             
                            <div id="d-tar-regular" class="container1 text-center mb-3">
                                <h2>X 6 MESES*</h2>
                            </div>
                            <a href="#" data="Triple pack, Internet 100 MB, TelevicionBÁSICO PLUS XVIEW+" class="btn1 contrataBtn d-block mx-auto">Contrata Ahora</a>
                            <!--<span style="margin-bottom: 12px;display: block;text-transform: none;">*Domiciliando pago a tarjeta</span>-->                       
                            <p class="mb-3" style="margin-top: -15px">&nbsp;</p>
                        </div>
                    </div>
                    <!-- paquete home- pruebas-->
                
            </div>
        </div>
    

    </section>       
    
    <!-- termina pruebas-->


    <!-- ********** Paquetes ********** -->
    <section class="container" id="paquetes">
        <div class="slider-container">
            <div class="owl-carousel owl-theme" id="carousel-packages">
            
                <!-- Card-->
                <div class="item card_pack">
                    <div class="promo_megas">
                        <h4>Internet Ilimitado 2 </h4>
                        <h4>350 MBPS</h4>
                    </div>
                    <div class="xview-container">
                        <img src="assets/img/xview-logo.png" alt="">
                    </div>
                    <div class="beneficios-pack">
                        <ul>
                            <li>Más de 120 canales</li>
                            <li>Más de 40 en HD</li>
                            <li>Mas de 20.000 horas en películas y series</li>
                            <li>Telefonía fija</li>
                        </ul>
                    </div>
                    <div class="promo_partners">
                        <img src="assets/img/promo-partner.png" alt="">
                    </div>
                    <div class="package_price">
                        <p class="price-pack">$930</p>
                        <p class="payment-time"> / AL MES</p>
                    </div>

                    <!-- Botón para abrir el popup -->
                    <div class="btn-card">
                        <button id="card-call" class="btn btn-dark openCallPopup">¡Llámame!</button>
                    </div>
                </div>
                <!-- / Card-->
            </div>
        </div>
    </section>

    <!-- Popup BTN CARD -->
    <div id="callMePopup" class="popup-call">
        <div class="popup-content-call">
            <span class="close-popup-call">&times;</span>
            <h3>¡Quiero contratar!</h3>
            <form id="callMeForm">
                <input type="tel" id="phone" name="phone" placeholder="Ingresa tu número" required>
                <button type="submit" class="btn btn-primary">¡Llámame!</button>
            </form>
        </div>
    </div>

    <!-- ********** Footer ********** -->

    <!-- ********** Scripts ********** -->

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Fetch para obtener las sucursales
            fetch('/mega/data')
                .then(response => response.json())
                .then(data => {
                    const slcOptions = document.getElementById('location-select');
                    slcOptions.innerHTML = ''; // Limpiar el contenido existente
                    data.forEach(item => {
                        const option = document.createElement('option');
                        option.value = item.idSucursal;
                        option.textContent = item.sucursalName;
                        slcOptions.appendChild(option);
                    });

                    // Cargar las tarjetas para la primera sucursal en la lista
                    if (data.length > 0) {
                        cardTarifario(data[0].idSucursal);
                    }
                })
                .catch(error => console.error('Error al cargar los datos de las sucursales:', error));

            // Evento para cambiar la sucursal y cargar las tarjetas correspondientes
            document.getElementById('location-select').addEventListener('change', function() {
                const idSucursal = this.value;
                cardTarifario(idSucursal);
            });
        });
    </script>
    <script>
        /* ********* Menu responsive ********** */
        const hamburgerMenu = document.querySelector('.hamburger-menu');
        const mobileMenu = document.querySelector('.mobile-menu');
        const closeBtn = document.querySelector('.close-btn');

        hamburgerMenu.addEventListener('click', () => {
            mobileMenu.classList.add('show');
        });

        closeBtn.addEventListener('click', () => {
            mobileMenu.classList.remove('show');
        });

        /* ********** Popup ********** */
        const locationButton = document.querySelector('.location span');
        const locationPopup = document.getElementById('location-popup');
        const closePopup = document.querySelector('.close-popup');
        const confirmLocationBtn = document.getElementById('confirm-location');
        const locationSelect = document.getElementById('location-select');

        // abrir popup al hacer clic en el lugar
        locationButton.addEventListener('click', () => {
            locationPopup.style.display = 'flex';
        });

        // cerar popup con x
        closePopup.addEventListener('click', () => {
            locationPopup.style.display = 'none';
        });

        // confirmar la ubicación seleccionada
        confirmLocationBtn.addEventListener('click', () => {
            const selectedLocationText = locationSelect.options[locationSelect.selectedIndex].text;//modificado para que devielva el texto del select y no el value
            locationButton.textContent = `📍 ${selectedLocationText}`;
            locationPopup.style.display = 'none'; // Cerrar el popup
        });

        /* ********** CARROUSEL PAQUETES ********** */
        /* Carrousel  peliculas*/
        // $(document).ready(function(){
        //     $("#carousel-packages").owlCarousel({
        //         loop: false,
        //         margin: 30,
        //         nav: true,
        //         dots: false,
        //         autoplay: true,
        //         autoplayTimeout: 6000,
        //         autoplayHoverPause: true,
        //         responsive:{
        //             0:{
        //                 items: 2
        //             },
        //             576:{
        //                 items: 2
        //             },
        //             768:{
        //                 items: 3
        //             },
        //             1200:{
        //                 items: 4
        //             }
        //         }
        //     });
        // });
        
    </script>
    <script src="/assets/mega/assets/main.js"></script>
</body>

</html>